body {
    font-family: Arial, sans-serif;
    background: url('../assets/cloudcanvas-logo.jpeg') center center/cover repeat; /* First background */
    /* Second background */
    margin: 0;
    padding: 0;
}

.container {
    display: inline-block; /* Make the container shrink-wrap around its content */
    padding: 20px;
    background-color: #61b8ab; /* Add background color */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    animation: fadeIn 1s ease-out; /* Add fade-in animation */
}

h1 {
    text-align: center; /* Center-align heading */
    animation: slideIn 1s ease-out; /* Add slide-in animation */
}

table {
    width: auto; /* Set width to auto to allow the container to expand with its content */
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd; /* Add border to table */
    animation: fadeIn 1s ease-out; /* Add fade-in animation */
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

tr:hover {
    background-color: #ddd; /* Hover color */
}

/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
